@mixin flexCentered($flexDirection: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flexDirection;
}

$footer-height: 100px;
$header-height: 70px;

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  position: relative;
}

main {
  height: calc(100% - (#{$footer-height} + #{$header-height}));
  @include flexCentered;

  & .container {
    @include flexCentered;
  }
}

.container {
  width: 1200px;
}

.header {
  height: $header-height;
  display: flex;
  justify-content: center;
  border-bottom: #275285 1px solid;
}

.footer {
  height: $footer-height;
  background-color: rgba(39, 82, 133, .85);
  position: absolute;
  bottom: 0;
  width: 100%;
  @include flexCentered;

  &__text {
    color: #fff;
  }
}

.btn {
  background-color: #0099c1;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: .6em 1.8em;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: #00aad3;
  }
}

#map {
  width: 800px;
  max-height: 90%;
  height: 500px;
  border-radius: 5px;
  display: none;

  box-shadow: 0 0 9px 6px rgba(140,140,140,0.65);
  -webkit-box-shadow: 0 0 9px 6px rgba(140,140,140,0.65);
  -moz-box-shadow: 0 0 9px 6px rgba(140,140,140,0.65);
}

.logo {
  height: 35px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    list-style: none;
    height: 100%;
    display: flex;

    &-item {
      height: 100%;
      margin-right: 3em;
      @include flexCentered;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        background-color: #0099c1;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:after {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
