@mixin flexCentered($flexDirection: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flexDirection;
}

$footer-height: 100px;
$header-height: 70px;

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.main {
  height: calc(100% - (#{$footer-height} + #{$header-height}));
  display: flex;
  justify-content: center;

  &--home {
    align-items: center;

    & .container {
      @include flexCentered;
    }
  }
}

.about {
  padding: 1em;

  & header {
    margin-bottom: 2em;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__contact, &__location {
    flex: 1 0 400px;
  }

  &__location {
    padding: 0 0 0 3em;
  }

  &__address {
    text-align: right;
    font-style: normal;
    margin-top: 1em;
  }

  &__par {
    padding-bottom: 8px;
  }
}

.container {
  width: 1200px;
}

#our-location-map {
  width: 100%;
  box-shadow: 0 0 10px -4px rgba(0,0,0,0.3);
  border-radius: 3px;
  position: relative;
}

.contact {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "first second"
    "third third"
    "fourth fourth"
    ". fifth";
  border: #c7c7c7 1px solid;
  border-radius: 3px;
  padding: 1.3em;

  &__item {
    &--1 {
      grid-area: first;
    }
    &--2 {
      grid-area: second;
    }
    &--3 {
      grid-area: third;
    }
    &--4 {
      grid-area: fourth;
    }
    &--5 {
      grid-area: fifth;
      text-align: right;
    }
  }

  &__input {
    border-radius: 3px;
    border: #c7c7c7 1px solid;
    height: 40px;
    padding: .7em;
    font-size: .9rem;
    font-family: inherit;
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.3);

    &:focus {
      border-radius: 3px;
      box-shadow: 0 0 13px -4px rgba(0,0,0,0.3);
    }

    &--large {
      height: 120px;
      resize: none;

      &::placeholder {
        color: #7b7b7b;
      }

      // Hide the placeholder if the user clicks on the area
      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  &__label {
    font-size: .8rem;
    color: #a3a3a3;
  }
}

#email, #name, #subject, #message {
  width: 100%;
}

.header {
  height: $header-height;
  display: flex;
  justify-content: center;
  border-bottom: #275285 1px solid;
}

.footer {
  height: $footer-height;
  background-color: rgba(39, 82, 133, .85);
  position: absolute;
  bottom: 0;
  width: 100%;
  @include flexCentered;

  &__text {
    color: #fff;
  }
}

.alert-box {
  width: 600px;
  height: 50px;
  padding: 0 1em;
  border-radius: 5px;
  background-color: #ffa92a;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  display: none;
  opacity: 1;
  transition: opacity 0.6s;
  justify-content: space-between;
  align-items: center;

  & a {
    color: #275285;
  }

  &__message {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
  }
}

.exit-shape {
  background: #ffffff;
  height: 10px;
  position: relative;
  width: 2px;
  transform: rotate(45deg);
  transition: transform 100ms ease-in-out;

  &:after {
    background: #ffffff;
    content: "";
    height: 2px;
    left: -4px;
    position: absolute;
    top: 4px;
    width: 10px;
  }

  &:hover {
    cursor: pointer;
    transform: rotate(45deg) scale(1.5);
  }
}

.btn {
  background-color: #0099c1;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: .6em 1.8em;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: #00aad3;
  }
}

#map {
  width: 800px;
  max-height: 90%;
  height: 500px;
  border-radius: 5px;
  display: none;

  box-shadow: 0 0 5px 6px rgba(140,140,140,0.4);
  -webkit-box-shadow: 0 0 5px 6px rgba(140,140,140,0.4);
  -moz-box-shadow: 0 0 5px 6px rgba(140,140,140,0.4);
}

#pending-gif {
  width: 50px;
}

.figure {
  @include flexCentered(column);
  display: none;

  &__caption {
    margin-bottom: .75em;
  }
}

.logo {
  height: 35px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    list-style: none;
    height: 100%;
    display: flex;

    &-item {
      height: 100%;
      margin-right: 3em;
      @include flexCentered;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        background-color: #0099c1;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:after {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
